<template>
    <div class="h-24 md:h-12">
        <div class="grid grid-cols-12">
            <router-link :to="{ name: 'home' }" class="col-span-12 md:col-span-8 lg:col-span-10 no-underline" :class="titleClass">
                Customizable Streaming Timers
            </router-link>
            <div v-if="!loggedIn" class="col-span-12 md:col-span-4 lg:col-span-2 py-0 md:py-2 text-right">
                <a href="/authentication/twitch/redirect" class="btn btn-sm btn-primary">
                    <font-awesome-icon icon="fa-brands fa-sm fa-twitch" />
                    Login with twitch
                </a>
            </div>
            <div v-else class="col-span-12 md:col-span-4 lg:col-span-2 py-0 md:py-2 text-right">
                <img :src="avatar" alt="" class="twitchAvatar" title="" style=""> | {{ username }}
                <a href="/authentication/logout" class="btn btn-sm btn-primary">
                    Logout
                </a>
            </div>
        </div>
        <Transition>
            <p v-if="hasAlert" class="alert" :class="alertClass">{{ alertMessage }}<span style="float: right; cursor: pointer;" @click="alertMessage = ''; alertClass = '';"><font-awesome-icon icon="fasolid fa-sm fa-xmark" /></span></p>
        </Transition>
    </div>
</template>

<script>
export default {
    name: "Header",
    data() {
        return {
            alertMessage: '',
            alertClass: ''
        };
    },
    computed: {
        titleClass() {
            return 'text-uppercase h3 hover:no-underline text-body';
        },
        loggedIn() {
            return Boolean(window.loggedIn);
        },
        avatar() {
            return window.avatar;
        },
        username() {
            return window.username;
        },
        hasAlert() {
            return this.alertMessage.length > 0 && this.alertClass.length > 0;
        }
    },
    mounted() {
        this.alertMessage = this.$attrs.alertMessage || window.alertMessage;
        this.alertClass = this.$attrs.alertClass || window.alertClass;
        let self = this;
        setTimeout(function () {
            self.alertMessage = '';
        }, 5000)
    },
    watch: {
        '$attrs.alertMessage': {
            handler() {
                this.alertMessage = this.$attrs.alertMessage;
                let self = this;
                setTimeout(function () {
                    self.alertMessage = '';
                }, 5000)
            }
        },
        '$attrs.alertClass': {
            handler() {
                this.alertClass = this.$attrs.alertClass;
            }
        }
    }
}
</script>

<style scoped>
a {
    text-decoration: none;
}
.twitchAvatar {
    height: 32px;
    border-radius: 50%;
    border: 1px solid #777;
    margin-right: 5px;
}

img {
    display: inline;
}

.v-enter-active {
    transition: opacity 0.1s ease;
}

.v-leave-active {
    transition: opacity 3s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}
</style>
