<template>
    <div>
        <Header :alertMessage="alertMessage" :alertClass="alertClass" />
        <div class="grid-cols-1 lg:mx-16 grid">
            <div>
                <slot v-if="loggedIn"><Timers @alert-message-changed="updateAlertMessage"></Timers></slot>
                <slot v-else><h1>You must be logged in to manage your timers.</h1></slot>
            </div>
        </div>
        <v-footer paddless fixed bottom class="bg-dark">
            <v-col
                class="text-center text-white"
                cols="12"
            >
                Source code can be found on <a href="https://gitlab.com/lerurik/timers">Gitlab</a>. Suggestions and forks are encouraged.
            </v-col>
        </v-footer>
    </div>
</template>

<script>
import Header from "./Header";
import Timers from "./Timers";

export default {
    name: "Home",
    data() {
        return {
            alertMessage: '',
            alertClass: ''
        }
    },
    computed: {
        loggedIn() {
            return Boolean(window.loggedIn);
        },
    },
    components: {
        Header,
        Timers
    },
    methods: {
        updateAlertMessage(data) {
            this.alertMessage = data.message;
            this.alertClass = data.class;
        }
    }
}
</script>
