<template>
 <div>
    <h1 class="h1 text-center">Editing {{ timer.name }}</h1>
    <div class="grid grid-cols-1">
        <div class="pt-2 pb-2 border-2 border-gray-200 rounded-5xl shadow-lg mt-2 mb-2 color-grey">
            <div class="grid grid-cols-1">
                <TimerRender v-if="timer.hasOwnProperty('name')" :testMode="true" :testTimer="timer" :additionalTime="additionalTime" ref="renderedTimer"></TimerRender>
            </div>
            <div class="grid grid-cols-12 gap-1" style="text-align: center;">
                <span class="col-span-1"></span>
                <button @click="additionalTime += 60;" class="col-span-2 btn btn-lg btn-primary bg-blue-300 border-blue-300 text-black rounded-5xl hover:bg-blue-300 hover:border-blue-300 hover:text-black">
                    Add 60 seconds
                </button>
                <button @click="additionalTime -= 60;" class="col-span-2 btn btn-lg btn-primary bg-blue-300 border-blue-300 text-black rounded-5xl hover:bg-blue-300 hover:border-blue-300 hover:text-black">
                    Remove 60 seconds
                </button>
                <button @click="additionalTime = 0;$refs.renderedTimer.resetTimer();" class="col-span-2 btn btn-lg btn-primary bg-blue-300 border-blue-300 text-black rounded-5xl hover:bg-blue-300 hover:border-blue-300 hover:text-black">
                    Reset
                </button>
                <button @click="$refs.renderedTimer.pauseTimer();" class="col-span-2 btn btn-lg btn-primary bg-blue-300 border-blue-300 text-black rounded-5xl hover:bg-blue-300 hover:border-blue-300 hover:text-black">
                    Pause
                </button>
                <button @click="$refs.renderedTimer.unpauseTimer();" class="col-span-2 btn btn-lg btn-primary bg-blue-300 border-blue-300 text-black rounded-5xl hover:bg-blue-300 hover:border-blue-300 hover:text-black">
                    Unpause
                </button>
            </div>
            <div class="grid grid-cols-1">
                <h3 class="h3 px-4">Useful Links</h3>
                <p>These links are unique to this timer, so be careful providing them to others, otherwise your timer could be messed with while on stream.</p>
                <h4>Embed Link</h4>
                <p>{{baseURL}}render/{{timer.stub}}</p>
                <h4>Adding Time Link</h4>
                <p>
                    {{baseURL}}add/{{timer.stub}}?t=60
                    <br/>
                    This link adds 60 seconds. Replace the 60 with the number of seconds you want to add. This is additive, so calling it twice would add 120 seconds total
                </p>
                <h4>Removing Time Link</h4>
                <p>
                    {{baseURL}}subtract/{{timer.stub}}?t=60
                    <br/>
                    This link removes 60 seconds. Replace the 60 with the number of seconds you want to remove. This is additive, so calling it twice would remove 120 seconds total
                </p>
                <h4>Reset Timer Link</h4>
                <p>{{baseURL}}reset/{{timer.stub}}</p>
                <h4>Pause Link</h4>
                <p>{{baseURL}}pause/{{timer.stub}}</p>
                <h4>Unpause Link</h4>
                <p>{{baseURL}}unpause/{{timer.stub}}</p>
            </div>
        </div>
    </div>
     <v-app>
        <v-row dense>
            <v-col cols="12">
                <ValidationObserver ref="observer" v-slot="{ invalid }" tag="form" @submit.prevent="handleSubmit">
                    <div class="pt-2 pb-2 border-2 border-gray-200 rounded-5xl shadow-lg mt-2 mb-2">
                        <v-row class="px-1">
                            <v-col cols="6">
                                <v-text-field
                                    v-model="timer.name"
                                    id="name"
                                    name="name"
                                    type="text"
                                    class="px-4"
                                    @change="$emit('timer-name-updated', timer.name)"
                                    placeholder="Name"
                                    label="Name"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6">
                                <span class="float-right red--text px-4 pt-2"><font-awesome-icon icon="fas fa-lg fa-trash-can" style="cursor: pointer; font-size: 15pt;" @click="deleteTimer"></font-awesome-icon></span>
                            </v-col>
                        </v-row>
                        <v-row class="px-1">
                            <v-col cols="6" sm="3">
                                <v-text-field
                                    v-model.number="timer.width"
                                    id="width"
                                    name="width"
                                    type="number"
                                    class="px-4"
                                    suffix="PX"
                                    placeholder="Width"
                                    label="Width"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6" sm="3">
                                <v-text-field
                                    v-model.number="timer.height"
                                    id="height"
                                    name="height"
                                    type="number"
                                    class="px-4"
                                    suffix="PX"
                                    placeholder="Height"
                                    label="Height"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6" sm="3">
                                <v-select
                                    v-model="timer.fontFamily"
                                    id="fontFamily"
                                    name="fontFamily"
                                    class="px-4"
                                    :items="fonts"
                                    placeholder="Font"
                                    label="Font"
                                >
                                    <template v-slot:selection="{ item, index }">
                                        <v-row no-gutters align="center">
                                            <span :style="'font-family: ' + item.text + '; font-weight: 400;'">{{ item.text }}</span>
                                        </v-row>
                                    </template>
                                    <template v-slot:item="{ active, item, attrs, on }">
                                        <v-list-item v-on="on" v-bind="attrs" #default="{ active }">
                                            <v-list-item-content>
                                                <v-list-item-title>
                                                    <v-row no-gutters align="center">
                                                        <span :style="'font-family: ' + item.text + '; font-weight: 400;'">{{ item.text }}</span>
                                                    </v-row>
                                                </v-list-item-title>
                                            </v-list-item-content>
                                        </v-list-item>
                                    </template>
                                </v-select>
                            </v-col>
                            <v-col cols="6" sm="3">
                                <v-text-field
                                    v-model="timer.fontColour"
                                    id="fontColour"
                                    name="fontColour"
                                    class="px-4"
                                >
                                    <template v-slot:prepend>
                                        <v-menu v-model="fontColourMenu" top nudge-bottom="105" nudge-left="16" :close-on-content-click="false">
                                            <template v-slot:activator="{ on }">
                                                <div :style="fontColourSwatch" v-on="on" />
                                            </template>
                                            <v-card>
                                                <v-card-text class="pa-0">
                                                    <v-color-picker v-model="timer.fontColour" flat />
                                                </v-card-text>
                                            </v-card>
                                        </v-menu>
                                    </template>
                                </v-text-field>
                            </v-col>
                        </v-row>
                        <v-row class="px-1">
                            <v-col cols="6" sm="3">
                                <v-text-field
                                    v-model.number="timer.fontSize"
                                    id="fontSize"
                                    name="fontSize"
                                    type="number"
                                    class="px-4"
                                    placeholder="Size"
                                    label="Size"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6" sm="3">
                                <v-text-field
                                    v-model.number="timer.lineHeight"
                                    id="lineHeight"
                                    name="lineHeight"
                                    type="number"
                                    class="px-4"
                                    placeholder="Line Height"
                                    label="Line Height"
                                    step="0.1"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6" sm="3">
                                <v-btn-toggle v-model="timer.alignment" class="px-4">
                                    <v-btn
                                        value="left"
                                        id="alignment-left"
                                        name="alignment"
                                    >
                                        <font-awesome-icon icon="fa-solid fa-sm fa-align-left" />
                                    </v-btn>
                                    <v-btn
                                        value="center"
                                        id="alignment-center"
                                        name="alignment"
                                    >
                                        <font-awesome-icon icon="fa-solid fa-sm fa-align-center" />
                                    </v-btn>
                                    <v-btn
                                        value="right"
                                        id="alignment-right"
                                        name="alignment"
                                    >
                                        <font-awesome-icon icon="fa-solid fa-sm fa-align-right" />
                                    </v-btn>
                                    <v-btn
                                        value="justify"
                                        id="alignment-justify"
                                        name="alignment"
                                    >
                                        <font-awesome-icon icon="fa-solid fa-sm fa-align-justify" />
                                    </v-btn>
                                </v-btn-toggle>
                                <v-btn-toggle class="px-4" v-model="timer.italic">
                                    <v-btn
                                        id="italic"
                                        name="italic"
                                    >
                                        <font-awesome-icon icon="fa-solid fa-sm fa-italic" />
                                    </v-btn>
                                </v-btn-toggle>
                            </v-col>
                            <v-col cols="6" sm="3">
                                <v-select
                                    v-model="timer.fontWeight"
                                    id="fontWeight"
                                    name="fontWeight"
                                    class="px-4"
                                    :items="fontWeights"
                                    placeholder="Font Weight"
                                    label="Font Weight"
                                >
                                    <template v-slot:selection="{ item, index }">
                                        <v-row no-gutters align="center">
                                            <span :style="'font-weight: ' + item + ';'">{{ item }}</span>
                                        </v-row>
                                    </template>
                                    <template v-slot:item="{ active, item, attrs, on }">
                                        <v-list-item v-on="on" v-bind="attrs" #default="{ active }">
                                            <v-list-item-content>
                                                <v-list-item-title>
                                                    <v-row no-gutters align="center">
                                                        <span :style="'font-weight: ' + item + ';'">{{ item }}</span>
                                                    </v-row>
                                                </v-list-item-title>
                                            </v-list-item-content>
                                        </v-list-item>
                                    </template>
                                </v-select>
                            </v-col>
                        </v-row>
                        <v-row class="px-1">
                            <v-col cols="6" sm="3">
                                <v-text-field
                                    v-model.number="timer.textStrokeWidth"
                                    id="textStrokeWidth"
                                    name="textStrokeWidth"
                                    type="number"
                                    class="px-4"
                                    placeholder="Text Stroke"
                                    label="Text Stroke"
                                    step="0.01"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6" sm="3">
                                <v-text-field
                                    v-model="timer.textStrokeColour"
                                    id="textStrokeColour"
                                    name="textStrokeColour"
                                    class="px-4"
                                >
                                    <template v-slot:prepend>
                                        <v-menu v-model="strokeColourMenu" top nudge-bottom="105" nudge-left="16" :close-on-content-click="false">
                                            <template v-slot:activator="{ on }">
                                                <div :style="strokeColourSwatch" v-on="on" />
                                            </template>
                                            <v-card>
                                                <v-card-text class="pa-0">
                                                    <v-color-picker v-model="timer.textStrokeColour" flat />
                                                </v-card-text>
                                            </v-card>
                                        </v-menu>
                                    </template>
                                </v-text-field>
                            </v-col>
                            <v-col cols="6" sm="3">
                                <v-text-field
                                    v-model.number="timer.initialTime"
                                    id="initialTime"
                                    name="initialTime"
                                    type="number"
                                    class="px-4"
                                    placeholder="Initial Timer (in seconds)"
                                    label="Initial Timer (in seconds)"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6" sm="3">
                                <v-select
                                    v-model="timer.format"
                                    id="format"
                                    name="format"
                                    class="px-4"
                                    :items="formats"
                                    placeholder="Timer Format"
                                    label="Timer Format"
                                ></v-select>
                            </v-col>
                        </v-row>
                        <v-row class="px-1">
                            <v-col cols="12">
                                <v-switch
                                    v-model="timer.textShadow"
                                    id="textShadow"
                                    name="textShadow"
                                    class="px-4"
                                    label="Text Shadow"
                                ></v-switch>
                            </v-col>
                        </v-row>
                        <v-row class="px-1" v-show="timer.textShadow">
                            <v-col cols="12" sm="3">
                                <v-text-field
                                    v-model="timer.textShadowColour"
                                    id="textShadowColour"
                                    name="textShadowColour"
                                    class="px-4"
                                >
                                    <template v-slot:prepend>
                                        <v-menu v-model="shadowColourMenu" top nudge-bottom="105" nudge-left="16" :close-on-content-click="false">
                                            <template v-slot:activator="{ on }">
                                                <div :style="shadowColourSwatch" v-on="on" />
                                            </template>
                                            <v-card>
                                                <v-card-text class="pa-0">
                                                    <v-color-picker v-model="timer.textShadowColour" flat />
                                                </v-card-text>
                                            </v-card>
                                        </v-menu>
                                    </template>
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6">
                                <v-row>
                                    <v-col cols="6">
                                        <v-text-field
                                            v-model.number="timer.textShadowX"
                                            id="textShadowX"
                                            name="textShadowX"
                                            class="px-4"
                                            type="number"
                                            suffix="PX"
                                            label="Text Shadow X"
                                            placeholder="Text Shadow X"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="6">
                                        <v-text-field
                                            v-model.number="timer.textShadowY"
                                            id="textShadowY"
                                            name="textShadowY"
                                            class="px-4"
                                            type="number"
                                            suffix="PX"
                                            label="Text Shadow Y"
                                            placeholder="Text Shadow Y"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="6">
                                        <v-text-field
                                            v-model.number="timer.textShadowBlur"
                                            id="textShadowBlur"
                                            name="textShadowBlur"
                                            class="px-4"
                                            type="number"
                                            suffix="PX"
                                            label="Text Shadow Blur"
                                            placeholder="Text Shadow Blur"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-col>
                        </v-row>
                        <v-row class="px-1">
                            <v-col cols="12">
                                <v-switch
                                    v-model="timer.showEndText"
                                    id="showEndText"
                                    name="showEndText"
                                    class="px-4"
                                    label="Show text after timer ends"
                                ></v-switch>
                            </v-col>
                        </v-row>
                        <v-row class="px-1" v-show="timer.showEndText">
                            <v-col cols="12">
                                <v-text-field
                                    v-model="timer.endText"
                                    id="endText"
                                    name="endText"
                                    class="px-4"
                                    label="End Text"
                                    placeholder="End Text"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row class="px-1">
                            <v-col cols="12">
                                <button class="btn btn-lg btn-primary bg-blue-300 border-blue-300 text-black rounded-5xl hover:bg-blue-300 hover:border-blue-300 hover:text-black">
                                    Update Timer
                                </button>
                            </v-col>
                        </v-row>
                    </div>
                </ValidationObserver>
            </v-col>
        </v-row>
    </v-app>
 </div>
</template>

<script>
import fonts from '../fonts.js';
import TimerRender from "./TimerRender";

export default {
    name: "Timer",
    components: {TimerRender},
    data() {
        return {
            timer: {},
            fonts: fonts.fonts,
            fontWeights: ['Normal', 'Bold', 'Bolder', 'Lighter', '100', '200', '300', '400', '500', '600', '700', '800', '900'],
            fontColourMenu: false,
            strokeColourMenu: false,
            shadowColourMenu: false,
            formats: [
                {
                    text: '01:30',
                    value: 'short',
                },
                {
                    text: '1 minutes 30 seconds',
                    value: 'long',
                }
            ],
            additionalTime: 0
        }
    },
    props: {
        stub: String
    },
    computed: {
        fontColourSwatch() {
            return {
                backgroundColor: this.timer.fontColour,
                cursor: 'pointer',
                height: '30px',
                width: '30px',
                borderRadius: this.menu ? '50%' : '50%',
                borderColor: 'grey',
                borderWidth: '1px',
                borderStyle: 'solid',
                transition: 'border-radius 200ms ease-in-out'
            }
        },
        strokeColourSwatch() {
            return {
                backgroundColor: this.timer.textStrokeColour,
                cursor: 'pointer',
                height: '30px',
                width: '30px',
                borderRadius: this.menu ? '50%' : '50%',
                borderColor: 'grey',
                borderWidth: '1px',
                borderStyle: 'solid',
                transition: 'border-radius 200ms ease-in-out'
            }
        },
        shadowColourSwatch() {
            return {
                backgroundColor: this.timer.textShadowColour,
                cursor: 'pointer',
                height: '30px',
                width: '30px',
                borderRadius: this.menu ? '50%' : '50%',
                borderColor: 'grey',
                borderWidth: '1px',
                borderStyle: 'solid',
                transition: 'border-radius 200ms ease-in-out'
            }
        }
    },
    mounted() {
        if (this.stub != '') {
            this.getTimer(this.stub);
        }
    },
    watch: {
        stub(newStub, oldStub) {
            if (newStub != '') {
                this.getTimer(newStub);
            }
        },
    },
    methods: {
        getTimer(stub) {
            this.$axios.get('api/show/' + stub).then(response => {
                this.timer = response.data;
            }).catch(error => {
                this.$emit("alert-message-changed", {message: error.response.data.message, class: 'alert-danger'});
            })
        },
        async handleSubmit() {
            this.$axios.get('/sanctum/csrf-cookie').then(() => {
                this.$axios.put('api/update/' + this.stub, Object.assign(this.timer, {startingTime: 0})).then(() => {
                    this.$emit("alert-message-changed", {message: "Timer updated", class: 'alert-success'});
                }).catch(error => {
                    this.$emit("alert-message-changed", {message: error.response.data.message, class: 'alert-danger'});
                })
            });
        },
        async deleteTimer() {
            this.$axios.get('/sanctum/csrf-cookie').then(() => {
                this.$axios.delete('api/delete/' + this.stub, this.timer).then(() => {
                    this.$emit("alert-message-changed", {message: "Timer deleted", class: 'alert-success'});
                    this.$emit("timer-deleted");
                }).catch(error => {
                    this.$emit("alert-message-changed", {message: error.response.data.message, class: 'alert-danger'});
                })
            });
        }
    }
}
</script>

<style scoped>
    .row {
        flex: 0 0 auto;
    }
</style>
