<template>
 <div>
     <span :style="timerStyle">{{timerString}}</span>
 </div>
</template>

<script>
export default {
    name: "TimerRender",
    data() {
        return {
            stub: '',
            timer: {},
            timerString: '',
            responseTimes: [],
            defaultResponseTime: 60
        }
    },
    mounted() {
        if (!this.testMode) {
            if (this.$route.params['stub']) {
                this.stub = this.$route.params['stub'];
                this.$axios.get('api/show/' + this.stub).then(response => {
                    this.timer = response.data;
                    this.calcTimerString();
                }).catch(error => {
                    this.$emit("alert-message-changed", {message: error?.response?.data?.message, class: 'alert-danger'});
                })
            }
        } else {
            this.timer = this.testTimer;
            this.timer.startingTime = Math.floor(this.$DateTime.now().toSeconds());
            this.timer.additionalTime = this.additionalTime ?? 0;
            this.timer.pausedTime = 0;
            this.timer.paused = false;
            this.calcTimerString();
        }
    },
    watch: {
        testTimer(newTestTimer, oldTestTimer) {
            this.timer = newTestTimer;
            this.timer.startingTime = Math.floor(this.$DateTime.now().toSeconds());
            this.timer.additionalTime = this.additionalTime ?? 0;
            this.timer.pausedTime = 0;
            this.timer.paused = false;
            this.calcTimerString();
        },
    },
    methods: {
        shortFormat(diff) {
            let mask = this.shortMask();
            let seconds = 0;
            let minutes = 0;
            let hours = 0;
            let days = 0;
            seconds = diff % 60;
            seconds = seconds.toString().padStart(2, '0');
            diff = Math.floor(diff / 60);
            minutes = diff % 60;
            minutes = minutes.toString().padStart(2, '0');
            diff = Math.floor(diff / 60);
            hours = diff % 60;
            hours = hours.toString().padStart(2, '0');
            diff = Math.floor(diff / 24);
            days = diff % 24;
            days = days.toString().padStart(2, '0');
            return mask.replace('ss', seconds).replace('mm', minutes).replace('hh', hours).replace('dd', days);
        },
        longFormat(diff) {
            let mask = this.longMask();
            let seconds = 0;
            let minutes = 0;
            let hours = 0;
            let days = 0;
            seconds = diff % 60;
            seconds = seconds.toString().padStart(2, '0');
            diff = Math.floor(diff / 60);
            minutes = diff % 60;
            minutes = minutes.toString().padStart(2, '0');
            diff = Math.floor(diff / 60);
            hours = diff % 60;
            hours = hours.toString().padStart(2, '0');
            diff = Math.floor(diff / 24);
            days = diff % 24;
            days = days.toString().padStart(2, '0');
            return mask.replace('ss', seconds).replace('mm', minutes).replace('hh', hours).replace('dd', days);
        },
        calcTimerString() {
            if (this.testMode) {
                let currentTimestamp = Math.floor(this.$DateTime.now().toSeconds());
                if (this.timer.paused) {
                    let diff = (currentTimestamp - this.timer.pausedTime);
                    if (this.timer.format == 'short') {
                        this.timerString = this.shortFormat(diff);
                    } else {
                        this.timerString = this.longFormat(diff);
                    }
                    this.timerString = "Paused for " + this.timerString;
                } else {
                    let diff = (this.timer.initialTime + this.timer.additionalTime) - (currentTimestamp - this.timer.startingTime);
                    if (this.timer.format == 'short') {
                        this.timerString = this.shortFormat(diff);
                    } else {
                        this.timerString = this.longFormat(diff);
                    }
                    if (diff <= 0) {
                        if (this.timer.showEndText) {
                            this.timerString = this.timer.endText;
                        }
                    }
                }
                let self = this;
                setTimeout(function () {
                    self.calcTimerString();
                }, 1000)
            } else {
                this.$axios.get('api/show/' + this.stub).then(response => {
                    this.timer = response.data;
                    let currentTimestamp = Math.floor(this.$DateTime.now().toSeconds());
                    if (this.timer.paused) {
                        let diff = (currentTimestamp - this.timer.pausedTime);
                        if (this.timer.format == 'short') {
                            this.timerString = this.shortFormat(diff);
                        } else {
                            this.timerString = this.longFormat(diff);
                        }
                        this.timerString = "Paused for " + this.timerString;
                    } else {
                        let diff = (this.timer.initialTime + this.timer.additionalTime) - (currentTimestamp - this.timer.startingTime);
                        if (this.timer.format == 'short') {
                            this.timerString = this.shortFormat(diff);
                        } else {
                            this.timerString = this.longFormat(diff);
                        }
                        if (diff <= 0) {
                            if (this.timer.showEndText) {
                                this.timerString = this.timer.endText;
                            }
                        }
                    }

                    let self = this;
                    this.responseTimes.push(response.duration);
                    setTimeout(function () {
                        self.calcTimerString();
                    }, 1000 - this.averageResponseTime - 5)
                }).catch(error => {
                    let self = this;
                    setTimeout(function () {
                        self.calcTimerString();
                    }, 1000 - this.averageResponseTime - 5)
                    this.$emit("alert-message-changed", {message: error?.response?.data?.message, class: 'alert-danger'});
                })
            }
        },
        resetTimer() {
            this.timer.startingTime = Math.floor(this.$DateTime.now().toSeconds());
        },
        pauseTimer() {
            this.timer.paused = true;
            this.timer.pausedTime = Math.floor(this.$DateTime.now().toSeconds());
        },
        unpauseTimer() {
            let currentTimestamp = Math.floor(this.$DateTime.now().toSeconds());
            this.timer.additionalTime += (currentTimestamp - this.timer.pausedTime);
            this.timer.paused = false;
        },
        shortMask() {
            let mask = 'ss';
            let initialTime = this.timer.initialTime + (this.testMode ? this.additionalTime : this.timer.additionalTime);
            if (initialTime > 60) {
                mask = "mm:" + mask;
                initialTime /= 60
                if (initialTime > 60) {
                    mask = "hh:" + mask;
                    initialTime /= 24
                    if (initialTime > 24) {
                        mask = "dd:" + mask;
                    }
                }
            }
            return mask;
        },
        longMask() {
            let mask = "ss seconds";
            let initialTime = this.timer.initialTime + (this.testMode ? this.additionalTime : this.timer.additionalTime);
            if (initialTime > 60) {
                mask = "mm minutes " + mask;
                initialTime /= 60
                if (initialTime > 60) {
                    mask = "hh hours " + mask;
                    initialTime /= 24
                    if (initialTime > 24) {
                        mask = "dd days " + mask;
                    }
                }
            }
            return mask;
        },
    },
    computed: {
        timerStyle() {
            let styleString = "";
            if (this.timer.alignment != '') {
                styleString += "text-align: " + this.timer.alignment + ";";
            }
            if (this.timer.textShadow) {
                styleString += "text-shadow: " + this.timer.textShadowColour;
                styleString += " " + this.timer.textShadowX + "px";
                styleString += " " + this.timer.textShadowY + "px";
                styleString += " " + this.timer.textShadowBlur + "px;";
            }
            styleString += "font-weight: " + this.timer.fontWeight + ";";
            styleString += "color: " + this.timer.fontColour + ";";
            styleString += "font-size: " + this.timer.fontSize + "px;";
            styleString += "font-family: " + this.timer.fontFamily + ";";
            if (this.timer.lineHeight != 0) {
                styleString += "line-height: " + this.timer.lineHeight + ";";
            }
            if (this.timer.textStrokeWidth != 0) {
                styleString += "text-stroke: " + this.timer.textStrokeWidth + "px " + this.timer.textStrokeColour + ";"
            }
            if (this.timer.width != 0) {
                styleString += "width: " + this.timer.width + "px;";
            }
            if (this.timer.height != 0) {
                styleString += "height: " + this.timer.height + "px;";
            }
            styleString += "margin:auto;display:block;overflow:hidden;";
            return styleString;
        },
        averageResponseTime() {
            return Math.floor(this.responseTimes.length > 0
                ? this.responseTimes.reduce((accumulator, currentValue) => {
                    return accumulator + currentValue
                },0) / this.responseTimes.length
                : this.defaultResponseTime);
        }
    },
    props: {
        testMode: {
            type: Boolean,
            required: true,
            default: false,
        },
        testTimer: {
            type: Object,
            required: false,
        },
        additionalTime: {
            type: Number,
            required: false,
            default: 0
        }
    }
}
</script>

<style scoped>

</style>
