<template>
    <div class="grid">
        <h2>My Timers</h2>
        <div id="carousel" class="w-100 mx-auto">
            <vueper-slides
                class="no-shadow"
                :visible-slides="3"
                slide-multiple
                :gap="3"
                :slide-ratio="1 /4"
                :dragging-distance="200"
                :breakpoints="{ 800: {visibleSlides: 2, slideMultiple: 2 } }"
                :fixed-height="'4em'"
            >
                <vueper-slide
                    v-for="(timer, index) in timers"
                    :key="timer.stub"
                    :fixed-height="'3em'"
                    @click="selectedTimer = index"
                    :title="timer.name"
                >
                </vueper-slide>
                <vueper-slide
                    class="text-center vertical-middle"
                    @click="newTimer"
                    title="+"
                >
                </vueper-slide>
            </vueper-slides>
        </div>
        <div>
            <slot v-if="selectedTimer != null"><Timer
                :stub="timers[selectedTimer].stub"
                @alert-message-changed="logError"
                @timer-name-updated="(n) => timers[selectedTimer].name = n"
                @timer-deleted="timers.splice(selectedTimer, 1); selectedTimer = null;"
            ></Timer></slot>
            <slot v-else><h4>Select a timer above or create a new one to continue.</h4></slot>
        </div>
    </div>
</template>

<script>
import Timer from "./Timer";
import {VueperSlides, VueperSlide } from 'vueperslides'
import 'vueperslides/dist/vueperslides.css'

export default {
    name: "Timers",
    components: {
        Timer,
        VueperSlides,
        VueperSlide
    },
    data() {
        return {
            timers: [],
            selectedTimer: null
        }
    },
    mounted() {
        this.getTimers();
    },
    methods: {
        async newTimer() {
            await this.$axios.get('/sanctum/csrf-cookie');
            this.$axios.post('api/create').then(response => {
                this.timers.push(response.data);
                this.selectedTimer = this.timers.length - 1;
            }).catch(error => {
                this.$emit('alert-message-changed', {message: error.response.data.message, class: 'alert-danger'});
            });
        },
        async getTimers() {
            await this.$axios.get('/sanctum/csrf-cookie');
            this.$axios.get('api/list').then(response => {
                this.timers = response.data;
            }).catch(error => {
                this.$emit('alert-message-changed', {message: error.response.data.message, class: 'alert-danger'});
            });
        },
        logError(data) {
            this.$emit('alert-message-changed', data);
        }
    },
}
</script>

<style type="text/css" scoped>
.vueperslides {
    background-color: darkgray;
}
.vueperslide {
    cursor: pointer;
    background-color: lightgray;
    margin-top: auto;
    margin-bottom: auto;
}
</style>
